@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap");
@font-face {
  font-family: "Mona-sans";
  src: url("./assets/font/MonaSansExpanded-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mona-sans";
  src: url("./assets/font/MonaSansExpanded-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  font-size: 16px;
  --green-bg-col: #4b9540;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-bg-col);
  color: white;
}

button {
  background-color: transparent;
  outline-color: transparent;
  border-color: transparent;
}
video {
  pointer-events: none;
}
video::-webkit-media-controls-container {
  opacity: 0;
}
*::-webkit-media-controls-panel {
  display: none;
  -webkit-appearance: none;
}
/* Old shadow dom for play button */
*::--webkit-media-controls-play-button {
  display: none;
  appearance: none;
}
/* New shadow dom for play button */
/* This one works */
*::-webkit-media-controls-start-playback-button {
  display: none;
  -webkit-appearance: none;
}
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.topnav {
  display: flex;
  align-items: center;
}
.topnav_nav_link {
  font-size: 1.1rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
.topnav {
  padding: 2rem 1rem;
  justify-content: space-between;
  position: relative;
}

.topnav_main_link,
.topnav_second_link {
  border: 1px solid white;
  border-radius: 1000rem;
}

.topnav_main_link {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Mona-sans", sans-serif;
}
.topnav_second_link {
  aspect-ratio: 1;
  display: block;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_nav {
  display: flex;
  gap: 0.5rem;
}

.topnav_nav_list {
  gap: 2.5rem;
  display: none;
}
.topnav_mobile_list {
  overflow: hidden;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  position: absolute;
  background-color: var(--green-bg-col);
  border: 1px solid white;
  width: 50vw;
  left: 50%;
  top: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  max-height: 10rem;
  pointer-events: auto;
}

.topnav_mobile_list[data-open="false"] {
  max-height: 0rem;
  padding: 0;
  opacity: 0;
  pointer-events: none;
}

main {
  max-width: 1408px;
  padding-inline: 1rem;
  margin-inline: auto;
}

main p,
main h1 {
  text-align: center;
  margin-inline: auto;
}

.main_img {
  border-radius: 1rem;
  width: 100%;
}

.body {
  padding-block: 6.25rem;
}

.main_title {
  font-size: 5.6rem;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.main_subtitle,
.main_text {
  font-family: "Mona-sans", sans-serif;
}

.main_subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-block: 2.5rem 5.1rem;
  max-width: 488px;
}

.main_text {
  max-width: 1163px;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1em;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  #toggle {
    display: none;
  }
  .topnav_nav_list {
    display: flex;
    align-items: center;
  }
  .topnav_mobile_list {
    display: none;
  }
}
